<!DOCTYPE html>
<html>
<head>
  <title>PhotographerSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/" id="main-title">Awesome Name Here</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li class="has-form">
          <div class="row collapse">
            <form id="search_form" action="/photographer" method="get">
              <div class="row">
                <div class="large-8 small-9 columns">
                  <input id="search-bar" type="text" name="query" placeholder="Find Photographer">
                </div>
                <div class="large-4 small-3 columns">
                  <input type="submit" value="Search" class="button">
                </div>
              </div>
            </form>
          </div>
        </li>
      </ul>
      <ul>
      </ul>
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete,  class: "button radius" %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path,  class: "button radius" %></li>
          <li><%= link_to 'Sign In', new_user_session_path,  class: "button radius" %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>
</div>


<%= yield %>

</body>
</html>
